* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
h1 {
    font-size: 40px;
}
span {
    color: goldenrod;
}
#navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar a {
    padding: 16px;
    color: white;
    text-decoration: none;
    transition: 
        color 0.5s,
        text-decoration 0.5s
    ;
}
#navbar a:hover {
    color: goldenrod;
    text-decoration: underline;
}
#navbar img {
    width: 85px;
}
#navbar #logo {
    margin-left: 16px;
    margin-right: auto;
}
#nav-links-1 {
    margin-right: 16px;
}
#contact-us {
    border: 2px solid goldenrod;
    border-radius: 4px;
    margin-right: 24px;
}
#single-col {
    width: 75%;
    min-width: 400px;
    max-width: 1500px;
    margin: 0px auto; 
}
#sbs {
    margin: 100px 0px;
}
.side-by-side {
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 90px 0px;
}
.side-by-side img {
    width: 100%;
}
.body-content {
    margin: 0px 40px;
}
#image-container-1 {
    width: 800px;
    margin: 0px 40px;
}
#image-container-2 {
    width: 1100px;
    margin: 0px 40px;
}
#hero {
    margin: 50px;
}
#location-content {
    text-align: center;
    margin: 100px 0px; 
}
#loc-img-cont {
    width: 800px;
}
#location-content img {
    width: 70%;
    margin: 24px;
}
#location-content h3 {
    padding: 30px;
    margin: 24px 0px;
    font-size: 22px;
    border-right: 1px solid goldenrod;
}
#location-content h3:last-child {
    border-right: none;
}
#location-content-2 {
    display: flex;
    justify-content: center;
}
.body-content a {
    display: inline-block;
    text-decoration: none;
    color: goldenrod;
    background-color: black;
    padding: 14px;
    border-radius: 16px;
    margin: 24px 0px;
}
#footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 24px;
}
#foot-links {
    display: flex;
    justify-content: center;
    margin: 55px 10px;
}
#foot-links a {
    color: white;
    text-decoration: none;
    padding: 0px 40px;
    transition:
        color 0.5s,
        text-decoration 0.5s
    ;
}
#foot-links a:hover {
    color: goldenrod;
    text-decoration: underline;
}
#single-col h1 {
    text-align: center;
    margin: 100px 0px;
}
#menu-sbs {
    display: flex;
    align-items: center;
    padding: 24px;
    margin: 0px 0px;
}
#menu-content {
    padding: 0px 12px;
    border: 3px solid goldenrod;
    margin: 100px 0px;
}
#menu-content h2 {
    text-align: center;
    margin-top: 50px;
}
.menu-body-content {
    flex: 2;
    margin: 0px 200px;
}
.menu-img {
    flex: 1;
    margin: 60px;
}
.menu-img img {
    width: 100%;
}
.pricing {
    flex: 1;
}


/* #hero {
    background: 
        url(../images/fine-dining.jpg),
        linear-gradient(rgb(255, 255, 255), black)
    ;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero h1 {
    color: white;
} */
