#pluto {
    font-family: cursive;
    text-align: center;
}

#pluto-pal-1 {
    background-color: #845EC2;
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

#pluto-pal-2 {
    background-color: #C493FF;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

#pluto-pal-3 {
    background-color: #FEFEDF;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

#pluto-pal-4 {
    background-color: #D5CABD;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
/* Pluto Color Palette Done */

#seafood {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#seafood-pal-1 {
    background-color: #A93A3A;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#seafood-pal-2 {
    background-color: #C6817B;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#seafood-pal-3 {
    background-color: #FFE4DF;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#seafood-pal-4 {
    background-color: #00BAFF;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}
/* Seafood Color Palette Done */

#bullfrog {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#bullfrog-pal-1 {
    background-color: #62A01E;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}

#bullfrog-pal-2 {
    background-color: #7E7755;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}

#bullfrog-pal-3 {
    background-color: #B7AB74;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}

#bullfrog-pal-4 {
    background-color: #E7E2CF;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 24px;
}
/* Bullfrog Color Palette Done */

#jellyfish {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#jellyfish-pal-1 {
    background-color: #9F3288;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#jellyfish-pal-2 {
    background-color: #00FAFF;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#jellyfish-pal-3 {
    background-color: #00C1DC;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#jellyfish-pal-4 {
    background-color: #008AA5;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}
/* Jellyfish Color Palette Done */

