* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background:rgb(23, 23, 23);
    color:azure
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main"
    ;
}

#header {
    padding: 0px 36px;
    grid-area: header;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#header a {
    text-decoration: none;
}
#header #me {
    color: azure;
}
#header #tube {
    color: azure;
    background-color:teal;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 36px;
}
#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fa-house {
    padding-right: 14px;
}
.fa-film {
    padding-right: 14px;
}
.fa-ticket {
    padding-right: 14px;
}
.fa-bookmark {
    padding-right: 14px;
}
.fa-folder {
    padding-right: 14px;
}
.fa-video {
    padding-right: 14px;
}
.fa-clapperboard {
    padding-right: 14px;
}
.fa-clock {
    padding-right: 14px;
}
#sidebar ul a {
    text-decoration: none;
    color:teal;
    display: block;
    padding: 12px;
    opacity: 50%;
}
#sidebar ul a:hover {
    background-color: azure;
    border-radius: 12px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail {
    border-radius: 12px;
    background: radial-gradient(at top left, pink, coral);
    aspect-ratio: 16 / 9;
    border: 4px solid azure;
    border-style: outset;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: teal;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.metube-item h4 a:hover {
    text-decoration: underline;
}
.metube-item .video-details {
    margin: 8px;
    font-size: 14;
}

.metube-item .channel {
    margin-bottom: 4px;
}

#m1 .thumbnail {
    background-image: url(../images/youtube-image.png);
    background-size: cover;
}
#m2 .thumbnail {
    background-image: url(../images/youtube-image2.png);
    background-size: cover;
}
#m3 .thumbnail {
    background-image: url(../images/youtube-image3.png);
    background-size: cover;
}
#m4 .thumbnail {
    background-image: url(../images/youtube-image4.png);
    background-size: cover;
}
#m5 .thumbnail {
    background-image: url(../images/youtube-image5.png);
    background-size: cover;
}
#m6 .thumbnail {
    background-image: url(../images/youtube-image6.png);
    background-size: cover;
}