* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family:'Gill Sans';
    color: gold;
}

#two-columns {
    display: grid;
    grid-template-columns: 1fr 600px 300px 1fr;
    grid-template-areas: ". content sidebar .";
}

#background {
    background-color: black;
}
#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar-content h2 {
    background-color: gold;
    margin: 0px;
    padding: 18px;
    color: black;
    font-size: 18px;
}
#sidebar-content ul {
    background-color: black;
    border: 1px solid gold;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}
#sidebar-content a {
    color: gold;
    text-decoration: none;
}
#sidebar-content li {
    border-bottom: 1px solid gold;
    padding: 8px 0px;
}
#sidebar-content li:last-child {
    border-bottom: none;
}
#sidebar-content img {
    width: 250px;
}
#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#main-content {
    grid-area: content;
    margin: 24px 36px;
    border: 1px solid gold;
    padding: 12px 30px;
}
#main-content h2 {
    border-bottom: 1px solid goldenrod;
    padding-bottom: 3px;
}
#main-content h5 {
    font-style: italic;
}
#main-content h1,h3,h5 {
    color: gold;
}